{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlateVisionX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link href="../css/.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body>
    <header id="header" class="header-section">
        <nav id="nav-bar" class="navbar navbar-expand-sm navbar-dark  bg-dark">
            <div class="container">
                <a href="#" class="navbar-brand ">
                    <img src="{% static 'img/logo.png' %}" alt="#logoImg" height="50" width="80" >
<!--                      <span id="emailPlaceholder" class="d-inline align-middle text-center"></span>-->
                        <span id="emailPlaceholder" class="d-inline align-middle text-center" data-email="{{ email }}"></span>
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h3 id="usernamePlaceholder" class="d-inline align-middle text-center"></h3>
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-white" href="login.html">Logout</a>
                            </div>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#home" class="nav-link">Connect</a>
                        </li>
                        <li class="nav-item">
                            <a href="login.html" class="nav-link">Logout</a>
                        </li> -->
                
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="main-content">
        <div class="upload-section">
            <div class="upload-box">
                <label for="video-upload" class="upload-label"> <i class="fas fa-upload fa-4x text-dark"></i></label>
                <input type="file" id="video-upload" class="video-upload-input">
            </div>
            <button id="upload-button" class="btn btn-sm btn-primary">Upload</button>
        </div>
        
        <div class="buttons-section">
            <div class="analysis-options">
                <div class="option-box btn" id="detect-helmet">Detect Helmet and Numberplate</div>
                <div class="option-box btn" id="detect-speed">Detect Speed</div>
                <div class="option-box btn" id="extract-numberplate">Extract Number Plate</div>
            </div>
        </div>
    </div>
    <div class="output-video-section">
        <video id="output-video" controls></video>
        
    </div>
    
    
    <footer class="bg-dark">
        <div class="bottom-footer ">
            <div class="container" >
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-start">
                        <div class="footer">
                            <h3 class="footer-title" style="text-align: center">Contact Us</h3>
                            <ul class="footer-links text-left">
                                <li><i class="fa fa-map-marker"></i>Vellore Institute of Technology,Chennai</li>
                                <li><i class="fa fa-phone"></i>+1-1234446577</li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:puneethreddy951@gmail.com">xyz951@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <!-- <div class="col-md-6 text-center">
                        
                        <ul class="footer-social-links">
                            <li><a href="#" target="_blank"><i class="fa fa-twitter" ></i></a></li>
                            <li><a href="facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="mailto:puneethreddy951@gmail.com"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div> -->
    
                    <div class="col-md-6 d-flex justify-content-end">
                        <div class="footer">
                            <h3 class="footer-title">Copyright</h3>
                            <p>&copy; <script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
